<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DESIGNIXUS</title>

    <link rel="stylesheet" type="text/css" href="~/Content/css/demo.css" />
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/about-us.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/work.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/contact.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/set2.css" />
    <link href="~/Content/css/content.css" rel="stylesheet">
    <link href="~/Content/css/portfolio.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,800,500,600' rel='stylesheet' type='text/css'>

</head>


<body class="container">

    <!--/Nav -->
    <div class="wrapper">
        <nav class="site-nav">
            <h1 class="logo">DESIGNIXUS</span></h1>

            <div class="menu-toggle">
                <div class="hamburger"></div>
            </div>

            <ul class="open desktop">
                <li><a href="/home/index"><i class="fa fa-database site-nav--icon"></i>Home</a></li>
                <li><a href="/home/work"><i class="fa fa-info-circle site-nav--icon"></i>Work</a></li>
                <li><a href="/home/services"><i class="fa fa-paper-plane site-nav--icon"></i>Services</a></li>
                <li><a href="/home/contact"><i class="fa fa-envelope site-nav--icon"></i>Contact</a></li>
            </ul>
        </nav>
    </div>
    <!--/Nav -->
    <!--/Content -->

    <div class="hero-banner">

        <video width="1320" height="340" autoplay muted>
            <source src="~/Content/img/timelapse.mp4" type="video/mp4">

            Your browser does not support the video tag.
        </video>

    </div>



    <!--/#about-us-->
    <section id="contacto" class="parallax">
        <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">

            <div class="divider"></div>

            <div class="contact-box">

                <div class="contact-left">



                </div>

                <div class="contact-right">
                    <div class="contact">
                        <p>Get in touch with us to get your great design works !</p>
                        <form action="#" method="post" id="form" class="topBefore">

                            <input id="name" type="text" name="Name" placeholder="Name">
                            <input id="email" type="text" name="Email" placeholder="Email Address">
                            <input id="phone" type="text" name="Phone" placeholder="Phone Number">
                            <textarea id="message" type="text" name="Message" placeholder="Messagge"></textarea>
                            <input id="submit" type="submit" value="GO!">

                        </form>
                    </div>
                </div>


                <div class="contact-bottom">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d192697.79327606485!2d28.872096507201327!3d41.00549580936355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa7040068086b%3A0xe1ccfe98bc01b0d0!2zxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1593301736986!5m2!1str!2str" width="100%"
                            frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                </div>

            </div>


        </div>
    </section>



    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/~/Content/js/bootstrap.bundle.min.js"></script>




    <!--/Content -->
    <!--/Footer -->

    <div class="footer">
        <div class="footer-con">

            <div class="footer-l">


                <div class="social-contact">
                    <h3 class="about-us">About Us</h3>
                    <p>Designixus is a multidisciplinary design & communication agency with a passion for creating beautifully crafted communication materials.</p>
                    <div class="social">
                        <h3 class="text-capitalize">Social Media</h3>

                        <div class="instagram">
                            <img src="~/Content/img/dribble.jpg">
                            <h5><a href="https://dribbble.com/Designixus" target="blank_">dribbble.com/designixus</a> </h5>
                        </div>


                    </div>
                    <div class="contact-footer">
                        <h3 class="mb-4">Contact</h3>
                        <div class="address">
                            <img src="~/Content/img/email.png">
                            <h5><a href="mailto:hello@designixus.com">hello@designixus.com</a> </h5>
                        </div>


                    </div>
                </div>


            </div>

            <div class="footer-m">
                <div class="social-media">
                    <h3>Instagram</h3>
                    <div class="social-1">
                        <div class="social-1-img">
                            <a href="https://dribbble.com/Designixus" target="_blank">
                                <img src="~/Content/img/footer-social-graphic.jpg" class="" alt="">
                            </a>
                        </div>
                        <div class="social-1-text">
                            <h5>
                                <a href="https://dribbble.com/Designixus" target="_blank">#Brand Identity Design #Brand Identity Guidelines #Brand Concepts #Advertising Design #Packaging Design #Magazine #Book #Catalog #Brochures</a>
                            </h5>

                        </div>
                    </div>
                    <div class="social-1">
                        <div class="social-1-img">
                            <a href="https://dribbble.com/Designixus" target="_blank">
                                <img src="~/Content/img/footer-social-3d.jpg" class="" alt="">
                            </a>
                        </div>
                        <div class="social-1-text">
                            <h5>
                                <a href="https://dribbble.com/Designixus" target="_blank">#Architectural Design #Exhibition Stand Design #Interior Design  </a>
                            </h5>

                        </div>
                    </div>
                    <div class="social-1">
                        <div class="social-1-img">
                            <a href="https://dribbble.com/Designixus" target="_blank">
                                <img src="~/Content/img/footer-social-digital.jpg" class="" alt="">
                            </a>
                        </div>
                        <div class="social-1-text">
                            <h5>
                                <a href="https://dribbble.com/Designixus" target="_blank">#UI - UX Design #Web Application Design #Mobile Application Design #Newsletter Design #Banner Design </a>
                            </h5>

                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-r">
                <div class="services">
                    <h3>Services</h3>
                    <ul>
                        <li>Graphic Design</li>
                        <li> 3D Design</li>
                        <li> Digital Design</li>
                    </ul>
                    <h3>Newsletter</h3>
                    <p>Subscribe to our newsletter to get special<br> offers from Designixus</p>
                    <form action="#" method="post" id="newsletter">
                        <input id="newsletter" name="Email" type="email" placeholder="E-MAIL">

                        <input id="newsletter-submit" class="newsletter" type="submit" value="GO!">
                    </form>
                </div>

            </div>


        </div>
    </div>

    <!--/Footer -->


    <script src="~/Content/js/demo.js"></script>
    <script src="~/Content/js/anime.min.js"></script>
    <script src="~/Content/js/demo1.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="~/Content/js/index.js"></script>





</body>
</html>
