<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DESIGNIXUS</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/base.css" />
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/set2.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/about-us.css" />
    <link href="~/Content/css/content.css" rel="stylesheet">
    <link href="~/Content/css/stylish-portfolio.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,800,500,600' rel='stylesheet' type='text/css'>







</head>

<body class="container">
    <div class="slideshow">
        <div class="wrapper">
            <nav class="site-nav" id="home-nav">
                <h1 class="logo">DESIGNIXUS</span></h1>

                <div class="menu-toggle">
                    <div class="hamburger"></div>
                </div>

                <ul class="open desktop">
                    <li><a href="/home/index"><i class="fa fa-database site-nav--icon"></i>Home</a></li>
                    <li><a href="/home/work"><i class="fa fa-info-circle site-nav--icon"></i>Work</a></li>
                    <li><a href="/home/services"><i class="fa fa-paper-plane site-nav--icon"></i>Services</a></li>
                    <li><a href="/home/contact"><i class="fa fa-envelope site-nav--icon"></i>Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="slides">
            <div class="slide slide--current">
                <div class="slide__img" style="background-image: url(../Content/img/slide_1.jpg); z-index: 0;"></div>
                <p class="slide_top_title">Good design is</p>
                <h2 class="slide__title">innovative</h2>
                <p class="slide__desc">Aesthetic that haven’t been seen before</p>
                <a class="slide__link" href="work.html">Explore our works</a>
            </div>
            <div class="slide">
                <div class="slide__img" style="background-image: url(../Content/img/slide_2.jpg)"></div>
                <p class="slide_top_title">Good design is</p>
                <h2 class="slide__title">user-centered</h2>
                <p class="slide__desc">Creating highly usable and accessible products</p>
                <a class="slide__link" href="work.html">Find out more</a>
            </div>
            <div class="slide">
                <div class="slide__img" style="background-image: url(../Content/img/slide_3.jpg)"></div>
                <p class="slide_top_title">Good design is</p>
                <h2 class="slide__title">aesthetic</h2>
                <p class="slide__desc">A matter of delicate proportions and aesthetics.</p>
                <a class="slide__link" href="work.html">Discover art</a>
            </div>
            <div class="slide">
                <div class="slide__img" style="background-image: url(../Content/img/slide_4.jpg)"></div>
                <p class="slide_top_title">Good design is</p>
                <h2 class="slide__title">intuitive</h2>
                <p class="slide__desc">Seamless user experience starts with understanding your users</p>
                <a class="slide__link" href="work.html">Find out more</a>
            </div>
        </div>
        <div class="slidenav">
            <button class="slidenav__item slidenav__item--prev">Previous</button>
            <span>/</span>
            <button class="slidenav__item slidenav__item--next">Next</button>
        </div>
    </div>
    <!--/#about-us-->
    <section id="about-us" class="parallax">
        <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">


            <!-- Portfolio -->
            <section class="content-section" id="portfolio">
                <div class="bt-container">
                    <div class="content-section-heading text-center">
                        <h3 class="text-secondary mb-0">DESIGNIXUS</h3>
                        <h2 class="mb-5">Graphic Design</h2>
                    </div>

                    <div class="row no-gutters">

                        <div class="col-lg-7">
                            <a class="portfolio-item" href="work.html#graphic">
                                <span class="caption">
                                    <span class="caption-content">
                                        <h2>Advertisement</h2>
                                        <p class="mb-0">Use magazines to increase your brand awareness!</p>
                                    </span>
                                </span>
                                <img class="img-fluid" src="~/Content/img/gr1.jpg" alt="">
                            </a>
                        </div>

                        <div class="col-lg-5">
                            <a class="portfolio-item" href="work.html#graphic">
                                <span class="caption">
                                    <span class="caption-content">
                                        <h2>Print Ads</h2>
                                        <p class="mb-0">Target the high quality audiences for the best customer engagement!</p>
                                    </span>
                                </span>
                                <img class="img-fluid" src="~/Content/img/gr2.jpg" alt="">
                            </a>
                        </div>


                        <div class="col-lg-5">
                            <a class="portfolio-item" href="work.html#graphic">
                                <span class="caption">
                                    <span class="caption-content">
                                        <h2>Powerful Storytelling</h2>
                                        <p class="mb-0">Attracting clients using the power of books!</p>
                                    </span>
                                </span>
                                <img class="img-fluid" src="~/Content/img/gr3.jpg" alt="">
                            </a>
                        </div>

                        <div class="col-lg-7">
                            <a class="portfolio-item" href="work.html#graphic">
                                <span class="caption">
                                    <span class="caption-content">
                                        <h2>Brand Identity & Stationery</h2>
                                        <p class="mb-0">More than forge a polished first impression for those who wants to create a remarkable brand! </p>
                                    </span>
                                </span>
                                <img class="img-fluid" src="~/Content/img/gr4.jpg" alt="">
                            </a>
                        </div>


                    </div>
                </div>
            </section>

            <!--Portfolio -->
            <!-- Portfolio -->
            <section class="content-section" id="portfolio">
                <div class="bt-container">
                    <div class="content-section-heading text-center">
                        <h3 class="text-secondary mb-0">DESIGNIXUS</h3>
                        <h2 class="mb-5">3D Design & Animation</h2>
                    </div>

                    <div class="row no-gutters">

                        <div class="col-lg-4">
                            <a class="portfolio-item" href="work.html#3d">
                                <span class="caption">
                                    <span class="caption-content">
                                        <h2>Interior Design</h2>
                                        <p class="mb-0">Aesthetically pleasing environment for the people using the space!</p>
                                    </span>
                                </span>
                                <img class="img-fluid" src="~/Content/img/3d1.jpg" alt="">
                            </a>
                        </div>

                        <div class="col-lg-4">
                            <a class="portfolio-item" href="work.html#3d">
                                <span class="caption">
                                    <span class="caption-content">
                                        <h2>Living Spaces</h2>
                                        <p class="mb-0">Transforming spaces into the charmful and confortable places! </p>
                                    </span>
                                </span>
                                <img class="img-fluid" src="~/Content/img/3d2.jpg" alt="">
                            </a>
                        </div>

                        <div class="col-lg-4">
                            <a class="portfolio-item" href="work.html#3d">
                                <span class="caption">
                                    <span class="caption-content">
                                        <h2>Architecture</h2>
                                        <p class="mb-0">Durability, Utility and Beauty! </p>
                                    </span>
                                </span>
                                <img class="img-fluid" src="~/Content/img/3d3.jpg" alt="">
                            </a>
                        </div>


                        <div class="col-lg-6">
                            <a class="portfolio-item" href="work.html#3d">
                                <span class="caption">
                                    <span class="caption-content">
                                        <h2>Tailor Made</h2>
                                        <p class="mb-0">Creating unique designs for individual needs and preferences!</p>
                                    </span>
                                </span>
                                <img class="img-fluid" src="~/Content/img/3d4.jpg" alt="">
                            </a>
                        </div>

                        <div class="col-lg-6">
                            <a class="portfolio-item" href="work.html#3d">
                                <span class="caption">
                                    <span class="caption-content">
                                        <h2>Modern Concepts</h2>
                                        <p class="mb-0">Creating new forms beyond your expectations! </p>
                                    </span>
                                </span>
                                <img class="img-fluid" src="~/Content/img/3d5.jpg" alt="">
                            </a>
                        </div>


                    </div>
                </div>
            </section>

            <!--Portfolio -->
            <!-- Portfolio -->
            <section class="content-section" id="portfolio">
                <div class="bt-container">
                    <div class="content-section-heading text-center">
                        <h3 class="text-secondary mb-0">DESIGNIXUS</h3>
                        <h2 class="mb-5">Digital Design</h2>
                    </div>

                    <div class="row no-gutters">

                        <div class="col-lg-5">
                            <a class="portfolio-item" href="work.html#digital">
                                <span class="caption">
                                    <span class="caption-content">
                                        <h2>UI / UX Design</h2>
                                        <p class="mb-0">A cross-discipline perspective that considers multiple aspects of the brand, business and environment! </p>
                                    </span>
                                </span>
                                <img class="img-fluid" src="~/Content/img/dg1.jpg" alt="">
                            </a>
                        </div>

                        <div class="col-lg-7">
                            <a class="portfolio-item" href="work.html#digital">
                                <span class="caption">
                                    <span class="caption-content">
                                        <h2>Mobile Application Design</h2>
                                        <p class="mb-0">Creating understandable, user-friendly mobile application interfaces</p>
                                    </span>
                                </span>
                                <img class="img-fluid" src="~/Content/img/mobile.jpg" alt="">
                            </a>
                        </div>


                        <div class="col-lg-7">
                            <a class="portfolio-item" href="work.html#digital">
                                <span class="caption">
                                    <span class="caption-content">
                                        <h2>Marketing & Advertising Graphic Design</h2>
                                        <p class="mb-0">Eye-catching banners for your digital ads!</p>
                                    </span>
                                </span>
                                <img class="img-fluid" src="~/Content/img/banner-ads.jpg" alt="">
                            </a>
                        </div>

                        <div class="col-lg-5">
                            <a class="portfolio-item" href="work.html#digital">
                                <span class="caption">
                                    <span class="caption-content">
                                        <h2>Email Marketing / Newsletter Design</h2>
                                        <p class="mb-0">Attractive promotional emails that encourage customers to interact!</p>
                                    </span>
                                </span>
                                <img class="img-fluid" src="~/Content/img/newsletter-1.jpg" alt="">
                            </a>
                        </div>


                    </div>
                </div>
            </section>

            <!--Portfolio -->
        </div>
    </section>



    <!--/Footer -->

    <div class="footer">
        <div class="footer-con">

            <div class="footer-l">


                <div class="social-contact">
                    <h3 class="about-us">About Us</h3>
                    <p>Designixus is a multidisciplinary design & communication agency with a passion for creating beautifully crafted communication materials.</p>
                    <div class="social">
                        <h3 class="text-capitalize">Social Media</h3>

                        <div class="instagram">
                            <img src="~/Content/img/dribble.jpg">
                            <h5><a href="https://dribbble.com/Designixus" target="blank_">dribbble.com/designixus</a> </h5>
                        </div>


                    </div>
                    <div class="contact-footer">
                        <h3 class="mb-4">Contact</h3>
                        <div class="address">
                            <img src="~/Content/img/email.png">
                            <h5><a href="mailto:hello@designixus.com">hello@designixus.com</a> </h5>
                        </div>


                    </div>
                </div>


            </div>

            <div class="footer-m">
                <div class="social-media">
                    <h3>Instagram</h3>
                    <div class="social-1">
                        <div class="social-1-img">
                            <a href="https://dribbble.com/Designixus" target="_blank">
                                <img src="~/Content/img/footer-social-graphic.jpg" class="" alt="">
                            </a>
                        </div>
                        <div class="social-1-text">
                            <h5>
                                <a href="https://dribbble.com/Designixus" target="_blank">#Brand Identity Design #Brand Identity Guidelines #Brand Concepts #Advertising Design #Packaging Design #Magazine #Book #Catalog #Brochures</a>
                            </h5>

                        </div>
                    </div>
                    <div class="social-1">
                        <div class="social-1-img">
                            <a href="https://dribbble.com/Designixus" target="_blank">
                                <img src="~/Content/img/footer-social-3d.jpg" class="" alt="">
                            </a>
                        </div>
                        <div class="social-1-text">
                            <h5>
                                <a href="https://dribbble.com/Designixus" target="_blank">#Architectural Design #Exhibition Stand Design #Interior Design  </a>
                            </h5>

                        </div>
                    </div>
                    <div class="social-1">
                        <div class="social-1-img">
                            <a href="https://dribbble.com/Designixus" target="_blank">
                                <img src="~/Content/img/footer-social-digital.jpg" class="" alt="">
                            </a>
                        </div>
                        <div class="social-1-text">
                            <h5>
                                <a href="https://dribbble.com/Designixus" target="_blank">#UI - UX Design #Web Application Design #Mobile Application Design #Newsletter Design #Banner Design </a>
                            </h5>

                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-r">
                <div class="services">
                    <h3>Services</h3>
                    <ul>
                        <li>Graphic Design</li>
                        <li> 3D Design</li>
                        <li> Digital Design</li>
                    </ul>
                    <h3>Newsletter</h3>
                    <p>Subscribe to our newsletter to get special<br> offers from Designixus</p>
                    <form action="#" method="post">
                        <input id="newsletter" name="Email" type="email" placeholder="E-MAIL">

                        <input id="newsletter-submit" type="submit" value="GO!">
                    </form>
                </div>

            </div>


        </div>
    </div>
    <!--/Footer -->
    <!--/#about-us-->

    <script src="~/Content/js/demo.js"></script>
    <script src="~/Content/js/anime.min.js"></script>
    <script src="~/Content/js/demo1.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="~/Content/js/index.js"></script>








</body>
</html>
